*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}


main{
    width: 95%;
    max-width: 1200px;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header .menu{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header .menu img{
    width: 100%;
}

header h1{
    font-size: 1.5rem;
    font-weight: lighter;
}

nav{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 50%;
    background-color: white;
    display: none;
}


nav ul li{
    font-size: 2rem;
    cursor: pointer;
    padding: 1em;
}

nav ul li a{
    color: black;
}

nav ul li:hover{
    background-color: lightgray;
}

h1 {
    margin: 20px;
    text-align: center;
}

#food{
    font-size: 100px;
}

.gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: apx solid lightgrey;
    padding-bottom: 5em;
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
}

.gallery .img_gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    position: relative;
}

.gallery .img_gallery .card{
    max-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.gallery .img_gallery .card .image{
    max-width: 100%;
    max-height: 400px;
}

.gallery .img_gallery .card .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 15px;
	filter: brightness(80%);
	transition: all .3s cubic-bezier(.495,.05,.55,.95);
	will-change: filter;
}

.gallery .img_gallery .card .image img:hover{
	filter: brightness(100%) hue-rotate(45deg);
	transform: scale(1.04);
	cursor: pointer;
}


.gallery .img_gallery .card .caption{
  width: 100%;
  height: 400px;
  margin-top: 1.5em;
}

.gallery .img_gallery .card .caption h3{
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5rem;
}


.gallery .img_gallery .card .caption p{
    text-align: center;
    font-size: .9rem;
    margin-top: 1em;
}


section.gallery .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.pagination ul{
    display: flex;
}

.pagination ul li{
    margin-right: 30px;
    color: black;
    font-weight: 300;
    padding: 8px;
    cursor: pointer;
}

.pagination ul li.active{
    background-color: black;
    color: white;
}

.about{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 5em;
    border-bottom: 1px solid lightgray;
}

.about .title{
    margin: 2em;
    font-weight: lighter;
}

.about .about_banner{
    max-width: 800px;
    max-height: 800px;
    margin: 10px auto;
}

.about .about_banner img{
    width: 100%;
    height: 100%;
}

.about .caption, em, p{
    margin: 20px;
}

.about p{
    font-size: 1rem;
    line-height: 1.2em;
}



@media only screen and (max-width:600px) {
    html{
        font-size: 14px;
    }

    main{
        width: 78%;
        max-width: 1200px;
        margin: auto;
    }

    nav{
        width: 70%
    }

    .gallery .img_gallery{
        grid-template-columns: 1fr;
    }

    footer{
        flex-direction: column;
    }
    
    footer >div{
        max-width: 100%;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width:399px) {
    main{
        width: 95%;
    }
}